@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

//Import Material Design
//@import "@material/typography/mdc-typography";
//@import "@material/button/mdc-button";
//@import "@material/button/mdc-button";

////
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  // grid-auto-rows: auto;
  grid-auto-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  // border: 2px solid red;
  // flex: 2;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "src src src src src src"
    "mn mn mn mn mn mn"
    "ft ft ft ft ft ft";
  /* border: 2px solid pink; */
  font-size: large;
  font-family: "Inconsolata", monospace;
  /* align-content: center; */
}

@media (min-width: 800px) {
  .container {
    grid-template-areas:
      "hd hd hd hd hd hd"
      "mn mn mn mn src src"
      "mn mn mn mn src src"
      "ft ft ft ft ft ft";
    font-size: medium;
  }
}

body {
  background-color: #444;
  color: #fffff8;
}

.search {
  grid-area: src;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 20px;
  // border: 2px solid blue;

  h1 {
    color: lightsalmon;
    font-size: x-large;
  }
  button {
    width: 200px;
    margin: 2px;
    border: none;
    font-size: large;
    color: antiquewhite;
    background-color: aquamarine;
    align-items: flex-end;
    color: black;
  }
}

.map {
  grid-area: src;
  // border: 2px solid lightgreen;
  display: block;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  align-self: center;
  #mapid {
    height: 260px;
  }
}

.results {
  grid-area: mn;
  // border: 2px solid green;
  display: block;
  padding: 10px;
  h1 {
    color: lightsalmon;
    font-size: x-large;
  }

  img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
  }

  /* Avantar */
  .card {
    /* Add shadows to create the "card" effect */
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
